<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New Animal</title>
</head>
<body>
    <h1>Add a New Animal</h1>
    <form action="/animals" method="POST">
        <label for="name">Animal:</label>
        <input type="text" name="name" id="name" />

        <label for="isMammal">Mammal?</label>
        <input type="checkbox" name="isMammal" id="isMammal" />
        <label for="isBird">Bird?</label>
        <input type="checkbox" name="isBird" id="isBird" />
        <label for="isReptile">Reptile?</label>
        <input type="checkbox" name="isReptile" id="isReptile" />
        <label for="isFish">Fish?</label>
        <input type="checkbox" name="isFish" id="isFish" />
        <label for="isAmphibian">Amphibian?</label>
        <input type="checkbox" name="isAmphibian" id="isAmphibian" />

        <button type="submit">Add Animal</button>
    </form>
    <a href="/animals/">Back to Animals</a>
    <a href="/">Home Page</a>
</body>
</html>