<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Animal Table of Content</title>
</head>

<body>
    <h1>Animals Entered</h1>
    <ul>
        <% animals.forEach(animal=> { %>
            <li>
                <a href="/animals/<%= animal._id %>">
                    <%= animal.name %>
                </a>
            </li>
            <% }) %>
    </ul>
    <a href="/animals/new">Add New Animal</a>
    <a href="/">Home Page</a>
</body>

</html>