<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Animal Kingdom App</title>
</head>

<body>
    <h1>Welcome to the Animal Kingdom app!</h1>
    
    <p>An app for cataloging your animals or pets.</p>
    <a href="/animals">Browse Animals</a>
</body>

</html>